/*   src/pages/Dashboard/Dashboard.css */

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /*max-width: 1400px;*/
  margin: 0 auto;
  padding: var(--space-lg);
  background-color: var(--color-background);
}

.dashboard-main {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
}

.dashboard-content {
  flex: 1;
  padding: var(--space-lg);
  overflow-y: auto;
  background-color: var(--color-background);
}