/*   src/styles/global.css */

@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}